.hints {
    font-size: 0.8em;
    color: var(--gray);
}

.hints li{
    padding-bottom: 0.4em;
}

.actions{
    padding: 20px 0;
    border-top: 1px solid var(--gray);
}

.Dropdown-control{
    background-color: var(--shadow) !important;
}

.Dropdown-arrow{
    margin-top: 8px;
}